[user]
	email = elvis@warp.dev
	name = elvis kahoro

[alias]

	a = "!gt add"
	aa = "!gt add ."
	aaa = aa
	aaaa = aa
	ap = "!gt add --patch"
	au = "!gt add -u && gt status"
	qu = au
	auy = au
	ua = au
	aui = au
    gau = au

	bb = "!gt branch bottom"
	bc = "!gt create"
    bcdl = bc
    cdl = bc
	cb = bc
	bce = bc
	gbc = branch -c
	bcn = "!gt branch create --no-verify"
	be = "!gt downstack edit"
	bl = branch --list
	bd = "!f() { if [ $# -eq 0 ]; then gt down; else gt down $1; fi }; f"
	db = bd
	bp = bd
	dd = bd
	bdl = "!gt branch delete"
	brd = "!gt branch unbranch"
	gbrd = branch -D
	gdd = branch -D
	gbdd = gdd
	grbd = gbrd
    gbtd = gbrd
	brf = "!gt branch fold"
	brsf = brf
	brn = "!gt rename"
	brsp = "!gt split"
	bsp = brsp
	brsq = "!gt squash"
	brt = "!gt track"
	bt = brt
	bu = "!f() { if [ $# -eq 0 ]; then gt up; else gt up $1; fi }; f"
	bn = bu
    by = bu
	u = bu
    nu = bu
	#bucc = "!gt upstack test 'trunk check --fix --ignore-git-state'"
    bucc = "!gt up && trunk check --fix --filter=-trivy,-checkov,-osv-scanner"
    bcc = bucc
    bca = "!gt up && trunk check --fix --ignore-git-state --filter=-trivy,-checkov,-osv-scanner"

	ca = "!gt modify"
    ac = ca
	aca = ca
	gca = commit --amend --no-edit
	cam = "!gt modify"
	cma = cam
	cc = "!trunk check --fix --filter=-trivy,-checkov,-osv-scanner"
	cca = "!trunk check --fix --all --ignore-git-state --filter=-trivy,-checkov,-osv-scanner"
    cac = cca
	ch = checkout
	chr = checkout run
	cr = checkout run
	check = "!trunk check --all --fix"
	co = "!gt commit create"
	gso = co
	gco = commit
    comit = gco
	com = "!gt commit -m"
	con = "!gt commit create --no-verify"
	gcon = commit --no-verify
	ct = "!gt continue"
	continue = ct
	cp = "!gt cherry-pick"
	cpa = "!gt cherry-pick --abort"
	cpc = "!gt cherry-pick --continue"

	d = "!f() { if [ $# -eq 0 ]; then git diff; else git diff HEAD~$1; fi }; f"
    d1 = d 1
	dc = "!gt diff --cached"
	ddc = dc
	ds = "!f() { if [ $# -eq 0 ]; then git show --name-only; else git log --name-only -$1; fi }; f"
	dsr = "!gt downstack restack"
	dst = "!gt downstack test"
	dl = "!f() { if [ $# -eq 0 ]; then git diff-tree --no-commit-id --name-status -r HEAD; else git diff-tree --no-commit-id --name-status -r HEAD~$1; fi }; f"
	ld = dl
	dls = dl
	du = "!less $(git ls-files --others --exclude-standard)"
    drun = branch -D run

    g = "!git"

    l = "!gt log --reverse --show-untracked"
    k = l
	ll = "!gt log short --reverse --show-untracked"
	ls = ll
	gl = log
	lt = log --oneline

	m = checkout main
    gm = m

	o = "!gh pr view --web || gh repo view --web"
	open = o
	go = "!gt pr"
	onto = "!gt upstack onto"

	pbd = "!git push --no-verify origin --delete $(git branch --show-current)"
	pbf = "!gt push -u origin HEAD"
	pbdf = "!git push --no-verify origin --delete $(git branch --show-current) && git push --no-verify -u origin HEAD"
	pl = "!gt pull"
    poull = pull
	plm = "!gt fetch origin main:main"
	pom = pull origin main
	prev = "!f() { if [ $# -eq 0 ]; then git checkout HEAD^1; else git checkout HEAD^$1; fi }; f"
	pr = "!gt pr"
	gpr = "!gh pr create --web"
    pus = push
    psuh = push
    ppush = push
    psh = push
    puh = push

	r = "!f() { if [ $# -eq 0 ]; then git reset; else git reset HEAD~$1 --mixed; fi }; f"
    rest = r
    reet = r
    rset = r
    rst = r
    rcg = "!rcg"
    reabse = rebase
	rb = "!gt rebase"
	rba = "!gt rebase --abort"
	rbm = "!gt rebase main"
	rbc = "!gt continue"
	grbc = rebase --continue
    reo = "!gt reorder"
	rs = "!gt sync"

	s = status
    gs = s
    stahs = stash
    tash = stash
    ta = st
	stp = stash pop
    spt = stp
    stop = stp
    tp = stp
    sto = stp
	ss = "!gt submit"
	ssf = "!gt submit --force"
    ssm = "!gt submit -m"
	sw = "!gt switch"
	swc = "!gt switch -c"
	sh = "!f() { if [ $# -eq 0 ]; then git show; else git show HEAD~$1; fi }; f"
	sq = "!f() { if [ $# -gt 2 ]; then echo "must be more than one"; else git rebase -i HEAD~$1; fi }; f"
	st = "!gt stash --patch"
	sta = "!gt stash"
    stsa = sta
	bta = sta
	stau = "!gt stash --include-untracked"
    stcc = "!gt stash clear"
	std = "!gt stash drop"
	std2 = "!gt stash drop && gt stash drop"
	stl = "!gt stash list"
	sts = "!gt stash show"
	sinit = submodule init
	su = submodule update
	sur = submodule update --init --recursive
	sinitr = sur
	smain = "!git submodule foreach --recursive `git checkout main`"
	spull =  "!git submodule foreach --recursive `git pull`"
	spush = "!f() { if [ $# -eq 0 ]; then git submodule foreach --recursive "git add ."; git submodule foreach --recursive "git commit -m c"; git push --recurse-submodules=on-demand; else git submodule foreach --recursive "git add ."; git submodule foreach --recursive "git commit -m $1"; git push --recurse-submodules=on-demand; fi } f"
	sstash = submodule foreach --recursive "git stash"

	t = "!pytest --ignore-glob='*/pycord/*' --import-mode=prepend"
	test = "!pre-commit run --all-files"
    to = "!gt pr"
	top = "!gt top"
    otp = top
	topd = "!gt top && gt down"
	topn = topd
	topb = topd

    poush = push
	uso = "!gt move"
    u = uso
	usso = uso
    uos = uso
    suo = uso
	pusr = "!git push && gt restack --upstack"
    psr = pusr
	usr = "!gt restack --upstack"
	us = usr
	sur = usr
	ust = "!gt upstack test"

	x = checkout -

[init]
	defaultBranch = main

[fetch]
	prune = true

[pull]
	rebase = true

[push]
	default = simple
	autoSetupRemote = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
	excludesfile = /Users/elvis/.gitignore_global
	editor = vim
	pager = delta

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto

[interactive]
    diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	minus-style = red "#ffeeee"
	plus-style = green "#383830"
    side-by-side = false

[stash]
    showStat = true
    showPatch = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[http]
	cookiefile = ~/.config/.gitcookies

[commit]
	template = ~/.config/git/.gitmessage
[credential "https://github.com"]
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.3.0/bin/gh auth git-credential

[credential "https://source.developers.google.com"]
	helper = gcloud.sh
