[user]
	email = ekk0809@gmail.com
	name = elvis kahoro
[core]
	excludesfile = /Users/elvis/.gitignore_global
	editor = vim
[push]
  	default = simple
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto
[alias]
    a = add
    au = add -u
    aa = add --all
	bc = checkout -b
	bd = branch -D
	bl = branch
	blr = branch -a
	bn = branch --no-merged
	ch = checkout
    chs = checkout create_stable_changelog_from_latest_beta
    chw = checkout webhook
	cc = checkout -b
	bm = branch --merged
	ca = commit --amend --no-edit
	cae = commit --amend
	cam = commit --amend
	can = commit --amend
    cm = commit -m
    co = commit
    cp = commit -p
	d = diff
    ds = diff --staged
    l = log
    lb = switch -
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    p = push
    r = reset
    r1 = reset HEAD^
    rbm = rebase main
    rbe = rebase elvis
    rbc = rebase --continue
    rfin = rebase --continue
	s = status
    st = stash --patch
    sta = stash
    std = stash drop
    stl = stash list
    stp = stash pop
    sts = stash show
    si = submodule init
	su = submodule update
    sur = submodule update --init --recursive
	spull = submodule foreach --recursive "git pull"
	smain = submodule foreach --recursive "git checkout main"
	sstash = submodule foreach --recursive "git stash"
	strack = stash --include-untracked
    tree = ls-tree -r --full-tree --name-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[http]
	cookiefile = /Users/elvis/.gitcookies
[commit]
	template = ~/.config/git/.gitmessage
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.3.0/bin/gh auth git-credential
