# This line sets readline to display possible completions using different colors to indicate their file types. The colors are determined by the environmental variable LS_COLORS, which can be nicely configured.
set colored-stats on
# Color the common prefix
set colored-completion-prefix on
#  This line sets auto completion to ignore cases.
set completion-ignore-case on
# This line sets 3 to be the maximum number of characters to be the common prefix to display for completions.
set completion-prefix-display-length 3
# Disables showing control character ctrl + c
set echo-control-characters off
# This line sets every completion which is a symbolic link to a directory to have a slash appended.
set mark-symlinked-directories on
set menu-complete-display-prefix on
# This line sets the completions to be listed immediately instead of ringing the bell, when the completing word has more than one possible completion.
set show-all-if-ambiguous on
# This line sets the completions to be listed immediately instead of ringing the bell, when the completing word has more than one possible completion but no partial completion can be made.
set show-all-if-unmodified on
# This lines sets completions to be appended by characters that indicate their file types reported by the stat system call.
set visible-stats on

# set editing-mode vi
# set keymap vi-command
# "v": ""
# linux
# "p": "i $(echo $(xclip -selection c -o))\e"
# mac
# "p": "i $(echo $(pbpaste))\e"

# set keymap vi-insert
# TAB: menu-complete
# "\e[Z": menu-complete-backward
# "p": self-insert
